:root {
  --primaryColor: #f3f3f3;
  --focus: #ff7061;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--primaryColor);
  transition: background-color 300ms ease-in-out;
  line-height: 1.5
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.focus {
  background: var(--focus);
}

.hidden {
  display: none;
}

.pomodoro {
  background: #fff;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro button {
  background: var(--primaryColor);
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  color: #000;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
  opacity: 1.0;
  border-radius: 4px;
}

.pomodoro button:hover {
  opacity: 0.8;
}

.focus .pomodoro button {
  background: var(--focus);
  color: #fff;
}

.focus .pomodoro button:hover {
  opacity: 0.8;
}

.pomodoro .details {
  margin: 20px 0;
  align-items: center;
  text-align: center;
}
